version: "3"
services:
  client:
    image: "lucasoft155/multi-client:v1.0"
    mem_limit: 128m
    hostname: client

  server:
    image: "lucasoft155/multi-server:v1.0"
    mem_limit: 128m
    hostname: api
    environment:
      - REDIS_HOST=$REDIS_HOST
      - REDIS_PORT=$REDIS_PORT
      - PGUSER=$PGUSER
      - PGHOST=$PGHOST
      - PGDATABASE=$PGDATABASE
      - PGPASSWORD=$PGPASSWORD
      - PGPORT=$PGPORT

  worker:
    image: "lucasoft155/multi-worker:v1.0"
    mem_limit: 128m
    hostname: worker
    environment:
      - REDIS_HOST=$REDIS_HOST
      - REDIS_PORT=$REDIS_PORT

  nginx:
    image: "lucasoft155/multi-nginx:v1.0"
    mem_limit: 128m
    hostname: nginx
    ports:
      - "80:80"